<!-- <h2>Cart component:</h2>
<ul>
    <app-cart-item *ngFor="let component of components" 
    [cartComponent]="component"></app-cart-item>
</ul> -->
<div *ngIf="components.length>0">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
            <h2>Корзина</h2>
        </div>
    </div>
    <app-cart-item *ngFor="let component of components" 
            [cartComponent]="component"
            (removeButtonClicked)="onRemoveButtonClicked($event)"
            (minusButtonClicked)="onMinusButtonClicked($event)"
            (plusButtonClicked)="onPlusButtonClicked($event)"
            ></app-cart-item>
    <div class="row">
        <div class="col-md-12">
           Total = {{total}} Count = {{count}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <button class="btn btn-warning pull-right" (click)="onCreateOrder()">Оформить</button>
        </div>
    </div>
    <!-- {{components | json}} -->
    <!-- <button class="btn btn-success center-block" (click)="onInfoButtonClicked()">Info</button> -->
</div>
   

    
    